<!--
  Generated template for the FileUpload component.

  See https://angular.io/docs/ts/latest/api/core/index/ComponentMetadata-class.html
  for more info on Angular 2 Components.
-->
<ion-list no-lines no-padding>
  <ion-item no-padding>
    <input type="file" accept="application/pdf, *" (change)="changeListener($event)">
  </ion-item>
  <ion-item no-padding *ngIf="imageSrc">
    <ion-thumbnail item-left>
      <img src="assets/img/pdfDoc.png" />
    </ion-thumbnail>
    <h3>{{file.name}}</h3>
    <p>{{file.lastModifiedDate}}</p>
    <p>{{file.size/1024}}Ko - {{file.type}}</p>
  </ion-item>
</ion-list>