page-smavie-mobilite {
    .slide-zoom {
        height: 100%;
    }
    .selectable {
        -webkit-user-select: text;
        -moz-user-select: text;
        -ms-user-select: text;
        user-select: text;
    }
}