<!--
  Generated template for the SmavieMobilite page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!--<ion-header>
  <ion-navbar color="primary">
    <ion-title>Prototype Smavie Mobilite</ion-title>
  </ion-navbar>
</ion-header>-->
<ion-content padding>
  <ion-slides #slides pager paginationType="progress" spaceBetween=20>
    <ion-slide no-padding>
      <ion-toolbar>
        <ion-title>Historique des signatures</ion-title>
        <ion-buttons end>
          <button ion-button color="primary" (click)="goNext()">Conseiller&nbsp; <ion-icon name="arrow-dropright"></ion-icon></button>
        </ion-buttons>
      </ion-toolbar>
      <ion-content>
        <button ion-button color="primary" (click)="goNew()"><ion-icon name="mail-open"></ion-icon>&nbsp;Créer une enveloppe</button>
        <ion-grid>
          <ion-row class="rowHeader" (click)="getStoredEnvelopes()">
            <ion-col>Enveloppe N°</ion-col>
            <ion-col>Status</ion-col>
            <ion-col>Le</ion-col>
            <ion-col>Actions</ion-col>
          </ion-row>
          <ion-row *ngFor="let item of storedEnvelopes,let idx=index" class="rowSmall">
            <ion-col class="rowXSmall selectable">
              {{idx}} - {{item.envelopeId}}
            </ion-col>
            <ion-col>{{statusCode[item.status]}}</ion-col>
            <ion-col>{{item.statusDateTime | date:'dd/MM/yyyy, HH:mm:ss'}}</ion-col>
            <ion-col>
              <button ion-button clear (click)="readEnvelope(item.envelopeId)">Poursuivre</button>
              <button ion-button clear (click)="readEnvelope(item.envelopeId)">Consulter</button>
              <button ion-button clear color="danger" (click)="deleteEnvelop(idx)">Supprimer</button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-content>
    </ion-slide>
    <!-- Slide preparation données et envoie de l'enveloppe -->
    <ion-slide no-padding>
      <ion-toolbar>
        <ion-title>Actions réalisées par le conseiller</ion-title>
        <ion-buttons end>
          <button ion-button color="primary" (click)="goPrevious()"><ion-icon name="arrow-dropleft"></ion-icon>&nbsp;Historique</button>
          <button ion-button color="primary" (click)="goNext()">Clients&nbsp; <ion-icon name="arrow-dropright"></ion-icon></button>
        </ion-buttons>
      </ion-toolbar>
      <ion-content>
        <ion-card>
          <ion-card-header>
            <ion-item color="primary">
              Etape 1 : Ajouter des documents
            </ion-item>
          </ion-card-header>
          <ion-card-content>
            <ion-list>
              <ion-item *ngIf="lstModels">
                <ion-label>Modèles</ion-label>
                <ion-select [(ngModel)]="signSend.docModel" okText="Choisir" cancelText="Annuler" multiple="true" (ionChange)="getModelDocs()">
                  <ion-option *ngFor="let m of (lstModels['envelopeTemplates'] | filterBy:'folderName':folderFilter)" [value]="m.templateId">{{m.name}}</ion-option>
                </ion-select>
                <button ion-button clear item-right icon-left (click)="getLstModel()"><ion-icon name="refresh"></ion-icon></button>
              </ion-item>
              <ion-item>
                <ion-list *ngIf="docsModel">
                  <ion-item no-padding *ngFor="let m of docsModel">
                    <h4>Modèle ref : {{m.templateId}}</h4>
                    <ion-list no-padding no-lines>
                      <ion-item no-padding class="smallList" *ngFor="let d of m.templateDocuments">
                        <h3 ion-text color="primary">{{d.order}}. {{d.documentId}}-{{d.name}}</h3>
                        <ion-badge item-right>{{d.pages}} pages</ion-badge>
                      </ion-item>
                    </ion-list>
                  </ion-item>
                </ion-list>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
        <ion-card>
          <ion-card-header>
            <ion-item color="primary">
              Etape 2 : Ajouter des signataires
            </ion-item>
          </ion-card-header>
          <ion-card-content>
            <ion-item>
              <ion-label>PROTOTYPE : Données pour alimenter les signatures (Cas de tests)</ion-label>
              <ion-select [(ngModel)]="signSend.useCase" okText="Choisir" cancelText="Annuler" (ionChange)="getUseCaseDetail()">
                <ion-option *ngFor="let m of lstUseCase" [value]="m.value.name">{{m.value.title}}</ion-option>
              </ion-select>
              <button ion-button clear item-right icon-left (click)="getUseCase()"><ion-icon name="refresh"></ion-icon></button>
            </ion-item>
            <div *ngIf="signSend.useCase">
              <ion-note *ngIf="conseiller">{{conseiller['name']}} emet l'enveloppe, à partir de {{conseiller['email']}}</ion-note>
              <ion-grid *ngIf="clients">
                <ion-row class="rowHeader">
                  <ion-col>Nom</ion-col>
                  <ion-col>Rôles</ion-col>
                  <ion-col>Email@</ion-col>
                  <ion-col>Téléphone</ion-col>
                  <ion-col>Type pièce d'identité</ion-col>
                  <ion-col>Action</ion-col>
                </ion-row>
                <ion-row *ngFor="let cl of clients">
                  <ion-col>{{cl.cum_identite}}</ion-col>
                  <ion-col>
                    <ion-row>
                      <ion-col col-9>
                        <h4 *ngFor="let r of cl.roles">{{r}}
                        </h4>
                      </ion-col>
                      <ion-col col-3>
                        <ion-item no-padding>
                          <button ion-button outline item-right icon-left icon-only (click)="selectRole(cl)">
                                <ion-icon name="search"></ion-icon>
                              </button>
                        </ion-item>
                      </ion-col>
                    </ion-row>
                  </ion-col>
                  <ion-col>{{cl.email}}</ion-col>
                  <ion-col>{{cl.mobile}}</ion-col>
                  <ion-col>{{cl.typePiece}}</ion-col>
                  <ion-col>
                    <button ion-button clear color="danger">Supprimer</button>
                  </ion-col>
                </ion-row>
              </ion-grid>
              <ion-item>
                <ion-label color="danger"> Optimiser le nombre de signatures</ion-label>
                <ion-toggle [(ngModel)]="fusionRole"></ion-toggle>
              </ion-item>
            </div>
          </ion-card-content>
        </ion-card>
        <ion-card>
          <ion-card-header>
            <ion-item color="primary">
              Etape 3 : Informations complémentaires
            </ion-item>
          </ion-card-header>
          <ion-card-content></ion-card-content>
        </ion-card>
        <ion-card id="suiviSign">
          <ion-card-header>
            <ion-item color="primary">
              Etape 4 : Création de l'enveloppe
              <button ion-button outline item-right icon-left color="light" (click)="sendEnvelop()">
                <ion-icon name="send"></ion-icon>
                Valider
              </button>
              <button *ngIf="signSend['envelopeId']" ion-button outline item-right icon-left color="light" (click)="readEnvelope(signSend['envelopeId'])">
                <ion-icon name="eye"></ion-icon>
                Voir les documents
              </button>
            </ion-item>
          </ion-card-header>
          <ion-card-content>
            <ion-list *ngIf="signSend['envelopeId']">
              <ion-item>
                <ion-icon name="mail" item-left></ion-icon>
                <div class="selectable">{{signSend['envelopeId']}}</div>
              </ion-item>
            </ion-list>
            <ion-list *ngIf="msg" padding>
              <ion-item-divider color="ligth" no-padding>Suivi des opérations de préparation de la signature</ion-item-divider>
              <ion-item *ngFor="let item of msg">
                <h4>{{item.msg}}</h4>
                <ion-badge item-right>{{item.status}}</ion-badge>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
        <ion-row></ion-row>
      </ion-content>
    </ion-slide>
    <!-- Slide Clients -->
    <ion-slide no-padding>
      <ion-toolbar>
        <ion-title>Signature des adhésions</ion-title>
        <ion-buttons end>
          <button ion-button color="primary" (click)="goPrevious()"><ion-icon name="arrow-dropleft"></ion-icon>&nbsp;Conseiller</button>
        </ion-buttons>
      </ion-toolbar>
      <ion-content>
        <ion-row *ngIf="signSend[ 'envelopeData']">
          <ion-col width-75 text-wrap text-left>
            <h3 ion-text color="primary">{{signSend['envelopeData'].emailSubject}}</h3>
            <ion-note class="small">Crée le {{signSend['envelopeData'].createdDateTime | date:'mediumDate'}} à {{signSend['envelopeData'].createdDateTime
              | date:'HH:mm:ss'}} par {{signSend['envelopeData'].senderName}}
              <br>Modifiée le {{signSend['envelopeData'].lastModifiedDateTime | date:'mediumDate'}} à {{signSend['envelopeData'].lastModifiedDateTime
              | date:'HH:mm:ss'}}
              <br>Envoyée le {{signSend['envelopeData'].initialSentDateTime | date:'mediumDate'}} à {{signSend['envelopeData'].initialSentDateTime
              | date:'HH:mm:ss'}}
            </ion-note>
          </ion-col>
          <ion-col width-25 text-wrap>
            <ion-note class="small">
              <ion-icon name="mail" item-left></ion-icon> <span class="selectable">{{signSend['envelopeData'].envelopeId}}</span>
              <br>Expiration le {{signSend['envelopeData'].expireDateTime | date:'mediumDate' }}
            </ion-note>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="envelopeRecipientsSent">
          <ion-col>
            <h2 ion-text color="primary">
              <u>Signataires</u>
            </h2>
            <ion-list no-padding>
              <ion-item>
                <!--<button ion-button icon-left small round color="primary" (click)="envelopeReorderProcess(signSend[
                'envelopeId'],envelopeRecipientsSent)"><ion-icon name="funnel"></ion-icon>Optimisation du processus</button>-->
              </ion-item>
              <div *ngFor="let s of (envelopeRecipientsSent | keysAndFilter: 'recipientCount,currentRoutingOrder')">
                <div *ngIf="s.value.length>0">
                  <ion-item *ngFor="let d of s.value | sortBy:'signerName';let idx=index;">
                    <ion-row wrap>
                      <ion-col width-20 text-center>
                        <h3>{{d.routingOrder}}</h3>
                        <ion-badge color="primary" item-right>{{statusCode[d.status]}}</ion-badge>
                      </ion-col>
                      <ion-col width-70 text-wrap>
                        <div *ngIf="s.key=='signers'">
                          <h3>{{d.name}} a pour rôle : {{d.roleName}}</h3>
                          <ion-note>{{d.email}}</ion-note>
                        </div>
                        <div *ngIf="s.key=='inPersonSigners'">
                          <h3>{{d.signerName}} a pour rôle : {{d.roleName}}</h3>
                          <ion-note>{{d.signerEmail}}</ion-note>
                        </div>
                        <button ion-button outline item-right icon-left color="danger" (click)="signByClient(signSend['envelopeId'],s.key,d);">Signer - Code d'accès : {{d.accessCode}}</button>
                        <button ion-button outline item-right icon-left (click)="refusedByClient(signSend['envelopeId'],idx,s)">Signer le papier</button>
                      </ion-col>
                    </ion-row>
                  </ion-item>
                </div>
              </div>
            </ion-list>
          </ion-col>
          <ion-col width-20 text-wrap>
            <h3>Action attendue par le role N°{{envelopeRecipientsSent.currentRoutingOrder}}</h3>
            <button ion-button color="primary" (click)="envelopGetRecipientSent(signSend['envelopeId'])">Actualiser&nbsp; <ion-icon name="refresh"></ion-icon></button>
            <button ion-button color="primary" (click)="getDocSigned(signSend['envelopeId'])">Voir&nbsp; <ion-icon name="eye"></ion-icon></button>
          </ion-col>
        </ion-row>
      </ion-content>
    </ion-slide>
  </ion-slides>
  <ion-fab right bottom>
    <button ion-fab mini color="danger"><ion-icon name="add"></ion-icon></button>
    <ion-fab-list side="left">
      <button ion-fab (click)="goNew()"><ion-icon name="mail-open"></ion-icon></button>
      <button ion-fab color="danger" *ngIf="signSend['envelopeId']" (click)="getDocSigned(signSend['envelopeId'])"><ion-icon name="eye"></ion-icon></button>
      <button ion-fab color="secondary" (click)="showStoredEnvelopes()"><ion-icon name="archive"></ion-icon></button>
      <button ion-fab color="primary" (click)="goHome()"><ion-icon name="home"></ion-icon></button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
