page-smavie-mobilite {
    .slide-zoom {
        height: 100%;
    }
    .selectable {
        -webkit-user-select: text;
        -moz-user-select: text;
        -ms-user-select: text;
        user-select: text;
    }
    .alertcss {
        max-width: 500px;
    }
}

.alert-md .alert-wrapper {
    max-width: 80%;
}