<ion-header>
	<ion-navbar color="primary">
		<button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
		<ion-title>SMA / DocuSign</ion-title>
		<ion-buttons end>
			<button ion-button block (click)="openModel()">Modèles</button>
			<button ion-button block (click)="presentActionSheet()">Options</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>

<ion-content padding>
	<!--<h5>Opérations de signature</h5>-->
	<div no-padding>
		<ion-segment [(ngModel)]="option" padding color="danger">
			<ion-segment-button text-wrap *ngFor="let api of lstApi" [value]="api.code">{{api.title}}</ion-segment-button>
		</ion-segment>
	</div>
	<div [ngSwitch]="option">
		<div *ngSwitchCase="'lstSign'">
			<button ion-button small (click)="listEnvelopes(0)">Tous</button>
			<button ion-button small (click)="listEnvelopes(1)">Brouillons</button>
			<button ion-button small (click)="listEnvelopes(2)">En attente de signature</button>
			<button ion-button small (click)="listEnvelopes(3)">Terminés</button>
			<button ion-button small (click)="listEnvelopes(4)">Hors délais</button>
			<h6 class="small">
				<ion-icon name="information-circle"></ion-icon>
				Glisser Gauche :options pour l'émetteur, Glissez Droite : options pour le signataire
			</h6>
			<ion-list>
				<ion-item-sliding *ngFor="let item of lstEnvelopes" text-wrap>
					<ion-item>
						<ion-row>
							<ion-col width-75 text-wrap>
								<h2 ion-text color="primary">{{item.subject}}</h2>
								<h6 class="small">Crée le {{item.createdDateTime | date:'mediumDate'}} à {{item.createdDateTime | date:'HH:mm:ss'}} par {{item.senderName}}</h6>
							</ion-col>
							<ion-col width-25 text-wrap>
								<ion-note class="small">
									<ion-icon name="mail" item-left></ion-icon> <span class="selectable">{{item.envelopeId}}</span>
									<br>Expiration le {{item.expireDateTime | date:'mediumDate' }}
								</ion-note>
							</ion-col>
						</ion-row>
						<ion-row>
							<ion-col width-75>
								<ion-list no-padding>
									<ion-item-divider>
										<h2>Signataires</h2>
									</ion-item-divider>
									<div *ngFor="let s of (item.recipients | keysAndFilter:'recipientCount,currentRoutingOrder')">
										<div *ngIf="s.value.length>0">
											<ion-item *ngFor="let d of s.value | sortBy:'routingOrder'">
												<ion-row wrap>
													<ion-col width-20 text-center>
														<h3>{{d.routingOrder}}</h3>
														<ion-badge color="primary" item-right>{{statusCode[d.status]}}</ion-badge>
													</ion-col>
													<ion-col width-70 text-wrap not-padding>
														<div *ngIf="s.key=='signers'">
															<h3>{{d.name}} a pour rôle : {{d.roleName}}</h3>
															<ion-note>{{d.email}}</ion-note>
														</div>
														<div *ngIf="s.key=='inPersonSigners'">
															<h3>{{d.signerName}} a pour rôle : {{d.roleName}}</h3>
															<ion-note>{{d.signerEmail}}</ion-note>
														</div>
														<button *ngIf="item.status=='sent'" ion-button small color="secondary" (click)="signByClient(item['envelopeId'],s.key,d);">Signer - Code d'accès : {{d.accessCode}}</button>
														<button ion-button small outline item-right icon-left (click)="refusedByClient(item['envelopeId'],d)">Signer le papier</button>
													</ion-col>
												</ion-row>
											</ion-item>
										</div>
									</div>
								</ion-list>
							</ion-col>
							<ion-col width-25 text-wrap>
								<h3>Action attendue par le role N°{{item.recipients.currentRoutingOrder}}</h3>
								<ion-badge color="danger" item-right>{{statusCode[item.status]}}</ion-badge>
								<hr>
								<button ion-button icon-left small round color="primary" (click)="envelopeReorderProcess(item['envelopeId'],item.recipients)"><ion-icon name="funnel"></ion-icon>Optimisation<br>du processus</button>
								<ion-note>{{item.signedDateTime}}</ion-note>
							</ion-col>
						</ion-row>
					</ion-item>
					<ion-item-options side="left">
						<button ion-button color="primary" (click)="getDocSigned(item['envelopeId']);">Voir</button>
						<button ion-button *ngIf="item.status=='sent'" color="secondary" (click)="signBySender(item['envelopeId']);">Emetteur</button>
						<button ion-button color="light" (click)="getDocSignedData(item['envelopeId']);">Données Preuves</button>
						<button ion-button *ngIf="item.status=='sent'" color="danger" (click)="voidSignedDoc(item['envelopeId']);">Invalider</button>
					</ion-item-options>
					<ion-item-options side="right">
						<button ion-button color="primary" (click)="getDocSigned(item['envelopeId']);">Voir</button>
					</ion-item-options>
				</ion-item-sliding>
			</ion-list>
		</div>
		<div *ngSwitchCase="'sign'">
			<ion-slides #slides pager paginationType="progress" spaceBetween=20>
				<!-- Slide CONSEILLER-->
				<ion-slide no-padding>
					<ion-toolbar>
						<ion-title>Actions réalisées par le conseiller</ion-title>
						<ion-buttons end>
							<button ion-button color="primary" (click)="goNext()">Client&nbsp; <ion-icon name="arrow-dropright"></ion-icon></button>
						</ion-buttons>
					</ion-toolbar>
					<ion-row>
						<ion-col>
							<ion-card>
								<ion-item color="primary">
									<p item-left>1. Préparation de l'enveloppe</p>
									<button ion-button color="danger" item-right icon-left (click)="ngOnInit()"><ion-icon name="add"></ion-icon></button>
								</ion-item>
								<ion-card-content>
									<ion-list>
										<ion-item>
											<ion-label>Modèles de document</ion-label>
											<ion-select [(ngModel)]="signSend.docModel" okText="Choisir" cancelText="Annuler" multiple="true" (ionChange)="getModelDocs()">
												<ion-option *ngFor="let m of (lstModels['envelopeTemplates'] | filterBy:'folderName':folderFilter)" [value]="m.templateId">{{m.name}}</ion-option>
											</ion-select>
											<button ion-button clear item-right icon-left (click)="getLstModel()"><ion-icon name="refresh"></ion-icon></button>
										</ion-item>
										<ion-item>
											<ion-list *ngIf="docsModel">
												<ion-item no-padding *ngFor="let m of docsModel">
													<h4>Modèle ref : {{m.templateId}}</h4>
													<ion-list no-padding no-lines>
														<ion-item no-padding class="smallList" *ngFor="let d of m.templateDocuments">
															<h3 ion-text color="primary">{{d.order}}. {{d.documentId}}-{{d.name}}</h3>
															<ion-badge item-right>{{d.pages}}</ion-badge>
														</ion-item>
													</ion-list>
												</ion-item>
											</ion-list>
										</ion-item>
										<ion-item>
											<ion-label>Données pour alimenter les signatures (Cas de tests)</ion-label>
											<ion-select [(ngModel)]="signSend.useCase" okText="Choisir" cancelText="Annuler" (ionChange)="getClientsList()">
												<ion-option *ngFor="let m of lstUseCase" [value]="m.value.name">{{m.value.title}}</ion-option>
											</ion-select>
											<button ion-button clear item-right icon-left (click)="getUseCase()"><ion-icon name="refresh"></ion-icon></button>
										</ion-item>
										<ion-item>
											<ion-row>
												<ion-col *ngIf="conseiller">
													<h3 ion-text color="primary">Conseiller</h3>
													<h4>{{conseiller['name']}}</h4>
													<ion-note>{{conseiller['email']}}</ion-note>
												</ion-col>
												<ion-col *ngIf="clients">
													<h3 ion-text color="primary">Client</h3>
													<ul>
														<li *ngFor="let cl of clients">
															<h4>{{cl.cum_identite}}</h4>
															<ion-note>{{cl.email}} - {{cl.mobile}}</ion-note>
														</li>
													</ul>
												</ion-col>
											</ion-row>
										</ion-item>

									</ion-list>
								</ion-card-content>
							</ion-card>
							<ion-card>
								<ion-item color="primary">
									<p item-left>2. Création de l'enveloppe à partir des modèles</p>
								</ion-item>
								<ion-card-content>
									<ion-card>
										<ion-card-header text-left>
											<ion-item>
												<p>Ref Enveloppe : {{signSend['envId']}}</p>
												<button ion-button outline item-right icon-left (click)="envelopCreateFromModels()"><ion-icon name="send"></ion-icon>Création de l'enveloppe</button>
											</ion-item>
										</ion-card-header>
									</ion-card>
									<ion-card *ngIf="envelopeDocuments">
										<ion-card-header>
											<ion-item>
												<h4>Cocher les documents à garder</h4>
											</ion-item>
										</ion-card-header>
										<ion-list>
											<ion-item *ngFor="let d of envelopeDocuments">
												<ion-badge item-right>{{d.pages}}</ion-badge>
												<ion-label class="small">{{d.order}}. {{d.documentId}}-{{d.name}}</ion-label>
												<ion-checkbox [(ngModel)]="d.select" color="primary" [disabled]="d.disable"></ion-checkbox>
											</ion-item>
										</ion-list>
										<button ion-button clear item-right icon-left (click)="envelopDocUpdate(signSend['envId'])">Mise à jour des documents</button>
									</ion-card>
									<ion-card *ngIf="envelopeDocuments">
										<ion-card-header>
											<ion-item>
												<h4>Choisir les pages à supprimer</h4>
											</ion-item>
										</ion-card-header>
										<ion-list>
											<ion-item *ngFor="let d of envelopeDocuments;let idx=index">
												<ion-badge item-right>{{d.pages}}</ion-badge>
												<ion-label class="small">{{d.order}}. {{d.documentId}}-{{d.name}}</ion-label>
												<ion-input type="number" [(ngModel)]="d.pageSuppr" color="primary" clearInput></ion-input>
												<button ion-button clear color="danger" item-right icon-left (click)="envelopPageDocUpdate(signSend['envId'], idx+1, d.pageSuppr)">Supprimer la page {{d.pageSuppr}}</button>
											</ion-item>
										</ion-list>
									</ion-card>
								</ion-card-content>
							</ion-card>
							<ion-card no-padding>
								<ion-item color="primary">
									<p item-left>3. Affectation des personnes aux rôles</p>
								</ion-item>
								<ion-card-content>
									<div *ngIf="signSend">
										<ion-card *ngFor="let s of envelopeRecipients | keysAndFilter:'recipientCount'">
											<ion-card-header text-left class="small">{{s.key}}</ion-card-header>
											<ion-card-content style="overflow-x:auto;">
												<table *ngIf="s.value.length>0">
													<tr>
														<td>Rôle</td>
														<td>Ordre</td>
														<td>Ref Cli</td>
														<td>Nom/Email</td>
														<td>Code</td>
													</tr>
													<tr *ngFor="let d of s.value;let idx=index">
														<td>
															<ion-item class="small" text-wrap>
																{{d.roleName}}
																<button ion-button clear item-right icon-only (click)="recipientDelete(s.key,idx)"><ion-icon name="trash"></ion-icon></button>
															</ion-item>
														</td>
														<td>
															<ion-input type="number" [(ngModel)]="d.routingOrder" placeholder="Ordre"></ion-input>
														</td>
														<td>
															<button ion-button clear item-right icon-only (click)="changeRecipientClient(s.key,idx)"><ion-icon name="person"></ion-icon></button>
														</td>
														<td class="small">
															{{d.name}}
															<ion-note>{{d.email}}</ion-note>
															{{d.signerName}}
															<ion-note>{{d.signerEmail}}</ion-note>
															<!--
															<ion-input type="email" [(ngModel)]="d.signerEmail" placeholder="email" clearInput=true></ion-input>
															<ion-input type="text" [(ngModel)]="d.signerName" placeholder="Nom" clearInput=true></ion-input>
															-->
														</td>
														<td style="width=10%">
															<ion-input type="text" [(ngModel)]="d.accessCode" placeholder="Code d'accés"></ion-input>
														</td>
													</tr>
												</table>
											</ion-card-content>
										</ion-card>
										<button ion-button color="danger" item-right icon-left (click)="updateRecipientEnvelop()">Mise à jour des destinataires</button>
									</div>
								</ion-card-content>
							</ion-card>
							<ion-card>
								<ion-item color="primary">
									<p item-left>4. Envoyer pour signature</p>
									<button ion-button color="danger" item-right icon-left (click)="sendEnvelop()"><ion-icon name="send"></ion-icon></button>
									<button ion-button color="danger" (click)="getDocSigned(signSend['envId']);">Voir</button>
								</ion-item>
								<ion-card-content>
									<div *ngIf="dataEnv">
										<record [dataRecord]="dataEnv" displaySelector=true></record>
									</div>
								</ion-card-content>
							</ion-card>
						</ion-col>
						<ion-col>
							<pdf *ngIf="pdfSrc" [pdfSrc]="pdfSrc"></pdf>
						</ion-col>
					</ion-row>
				</ion-slide>
				<!-- Slide CLIENT-->
				<ion-slide>
					<ion-toolbar>
						<ion-buttons start>
							<button ion-button color="primary" (click)="goPrevious()"><ion-icon name="arrow-dropleft"></ion-icon>&nbsp;Conseiller</button>
						</ion-buttons>
						<ion-title>Actions réalisées par le client</ion-title>
						<ion-buttons end>
							<button ion-button color="primary" (click)="goNext()">Données&nbsp; <ion-icon name="arrow-dropright"></ion-icon></button>
						</ion-buttons>
					</ion-toolbar>
					<ion-row *ngIf="dataEnv">
						<ion-col width-75 text-wrap text-left>
							<h3 ion-text color="primary">{{dataEnv.emailSubject}}</h3>
							<ion-note class="small">Crée le {{dataEnv.createdDateTime | date:'mediumDate'}} à {{dataEnv.createdDateTime | date:'HH:mm:ss'}} par {{dataEnv.senderName}}
								<br>Modifiée le {{dataEnv.lastModifiedDateTime | date:'mediumDate'}} à {{dataEnv.lastModifiedDateTime | date:'HH:mm:ss'}}
								<br>Envoyée le {{dataEnv.initialSentDateTime | date:'mediumDate'}} à {{dataEnv.initialSentDateTime | date:'HH:mm:ss'}}
							</ion-note>
						</ion-col>
						<ion-col width-25 text-wrap>
							<ion-note class="small">
								<ion-icon name="mail" item-left></ion-icon> <span class="selectable">{{dataEnv.envelopeId}}</span>
								<br>Expiration le {{dataEnv.expireDateTime | date:'mediumDate' }}
							</ion-note>
						</ion-col>
					</ion-row>
					<ion-row *ngIf="envelopeRecipientsSent">
						<ion-col>
							<h2 ion-text color="primary">
								<u>Signataires</u>
							</h2>
							<ion-list no-padding>
								<ion-item>
									<button ion-button color="primary" (click)="envelopeReorderProcess(dataEnv.envelopeId,envelopeRecipientsSent)">Optimisation du processus<ion-icon name="arrow-dropright"></ion-icon></button>
								</ion-item>
								<div *ngFor="let s of (envelopeRecipientsSent | keysAndFilter:'recipientCount,currentRoutingOrder')">
									<div *ngIf="s.value.length>0">
										<ion-item *ngFor="let d of s.value | sortBy:'signerName'">
											<ion-row wrap>
												<ion-col width-20 text-center>
													<h3>{{d.routingOrder}}</h3>
													<ion-badge color="primary" item-right>{{statusCode[d.status]}}</ion-badge>
												</ion-col>
												<ion-col width-70 text-wrap>
													<div *ngIf="s.key=='signers'">
														<h3>{{d.name}} a pour rôle : {{d.roleName}}</h3>
														<ion-note>{{d.email}}</ion-note>
													</div>
													<div *ngIf="s.key=='inPersonSigners'">
														<h3>{{d.signerName}} a pour rôle : {{d.roleName}}</h3>
														<ion-note>{{d.signerEmail}}</ion-note>
													</div>
													<button ion-button outline item-right icon-left color="secondary" (click)="signByClient(signSend['envId'],s.key,d);">Signer - Code d'accès : {{d.accessCode}}</button>
													<button ion-button outline item-right icon-left (click)="refusedByClient(signSend['envId'])">Signer le papier</button>
												</ion-col>
											</ion-row>
										</ion-item>
									</div>
								</div>
							</ion-list>
						</ion-col>
						<ion-col width-20 text-wrap>
							<h3>Action attendue par le role N°{{envelopeRecipientsSent.currentRoutingOrder}}</h3>
							<button ion-button color="primary" (click)="envelopGetRecipient(signSend['envId'])">Actualiser&nbsp; <ion-icon name="refresh"></ion-icon></button>
						</ion-col>
					</ion-row>
				</ion-slide>
				<!-- Slide DATA-->
				<ion-slide>
					<ion-toolbar>
						<ion-title>Données de l'enveloppe</ion-title>
						<ion-buttons end>
							<button ion-button color="primary" (click)="goPrevious()"><ion-icon name="arrow-dropleft"></ion-icon>&nbsp;Client</button>
						</ion-buttons>
					</ion-toolbar>
					<ion-item-group>
						<ion-item-divider color="info">Données envoyées au prestataire</ion-item-divider>
						<ion-item>
							<textarea rows="10" cols="80">{{signSend| json}}</textarea>
						</ion-item>
						<ion-item *ngIf="dataEnv">
							<p>Données contenues dans l'enveloppe</p>
							<textarea rows="10" cols="80">{{dataEnv| json}}</textarea>
						</ion-item>
					</ion-item-group>
				</ion-slide>
			</ion-slides>
		</div>
		<div *ngSwitchCase="'detail'">
			Données de l'enveloppe
			<record [dataRecord]='dataDoc'></record>
		</div>
		<div *ngSwitchCase="'factures'">
			<p><a href="https://apiexplorer.docusign.com/#/" target="_blank">DocuSign Api Explorer</a></p>
			<h2>Information de facturation</h2>
			<button ion-button icon-left (click)="infoFacturation()"><ion-icon name="refresh"></ion-icon>Actualiser</button>
			<record [dataRecord]='dataFactures'></record>
		</div>
	</div>
</ion-content>