page-docusign {
    ion-item-divider.item-md {
        padding-left: 16px;
        color: #222;
        background-color: #ffe4e4;
    }
    textarea {
        font-size: 10px;
    }
    .small {
        font-size: small;
    }
}

page-docusignmodel {
    textarea {
        font-size: 10px;
    }
    .small {
        font-size: small;
    }
}